<ul>
  <li>
    <a href="/monacoin/testnet" class="top-link">Monacoin testnet4 Faucet</a>
  </li>
  <li>
    <a href="/monacoin" class="top-link">Monacoin Faucet</a>
  </li>
  <li>
    <a href="/koto" class="top-link">Koto Faucet</a>
  </li>
  <li>
    <a href="https://www.torifuku-kaiou.tokyo/#donate" target="_blank" class="top-link">Donate</a>
  </li>
</ul>
